@font-face {
    font-family: Montserrat-VariableFont_wght;
    src: url("Montserrat-VariableFont_wght.ttf");
}
body {
    padding: 20px;
}
.first-pic{
}
.header{
    position: relative;
    left: 1200px;
    bottom: 750px;
    display: flex;
    align-items: center;
}
.head-items{
    margin-right: 60px;
}
p.head-items{
    color: #156963;
    font-family: Montserrat-VariableFont_wght;
}
.sign-in{
    border: 10px solid #156963;
    background: #156963;
    color: white;
    font-family: Montserrat-VariableFont_wght;
}
.intro-text{
    position: relative;
    left: 1050px;
    bottom: 600px;
}
.intro-text-big{
    font-family: Montserrat-VariableFont_wght;
    color: #156963;
    font-size: 70px;
    font-weight: bold;
}
.intro-text-small{
    font-family: Montserrat-VariableFont_wght;
    line-height: 40px;
    font-size: 20px;
}
.advantages{
    position: relative;
    bottom: 300px;
    display: flex;
    margin-left: 50px;
}
.advantages img{
    height: 200px;
    border: 2px solid lightgray;
    margin-right: 50px;
}
.on-sale p{
    font-family: Montserrat-VariableFont_wght;
    font-size: 40px;
    position: relative;
    left: 700px;
}
.on-sale .on-sale-img{
    display: flex;
}
.on-sale .line p{
    color: lightgray;
    left: 0px;
}
.on-sale img{
    height: 400px;
    margin-right: 50px;
}
.last-block{
    position: relative;
    top: 100px;
}
.last-block-big{
    font-family: Montserrat-VariableFont_wght;
    font-size: 70px;
    font-weight: bold;
    word-spacing: 10px;
}
.last-block-small{
    font-family: Montserrat-VariableFont_wght;
    word-spacing: 10px;
    font-size:25px ;
}
.last-block .right-pic{
    position: relative;
    left: 1100px;
    bottom: 350px;
}
.last-block .left-pic{
    position: relative;
    right: 670px;
    bottom: 400px;
}
.last-pic{
    width: 1770px;
}
.line p{
    color: lightgray;
    left: 0px;
}
.first-column{
    position: relative;
    left: 200px;
}
.footer .first-column h1{
    color: #156963;
    font-size: 32px;
    font-family: Montserrat-VariableFont_wght;
}
.footer h2{
    font-family: Montserrat-VariableFont_wght;
    font-size: 16px;
}
.footer .first-column p{
    font-family: Montserrat-VariableFont_wght;
    line-height: 25px;
}
.footer .second-column{
    position: relative;
    left: 700px;
    bottom: 200px;
}
.footer .second-column p{
    font-family: Montserrat-VariableFont_wght;
    line-height: 25px;
}
.footer .third-column{
    position: relative;
    left: 1000px;
    bottom: 320px;
}
.footer .third-column p{
    font-family: Montserrat-VariableFont_wght;
    line-height: 25px;
}
.footer .fourth-column{
    position: relative;
    left: 1300px;
    bottom: 440px;
}
input{
    color: lightgray;
    width: 250px;
    height: 30px;
    font-family: Montserrat-VariableFont_wght;
}
button{
    background-color: #156963;
    position: relative;
    right: 264px;
    top: 50px;
    height: 40px;
    color: white;
    font-family: Montserrat-VariableFont_wght;
    border-radius: 5px;
    border-color: white;

}
/*В хрмое через консоль выбрал iphone 12 pro, разрешение для него сделал*/
@media (min-width: 390px) and (max-height: 844px) {
    .header{
        width: 400px;
        position: relative;
        bottom: 800px;
    }
    .first-pic{
        position: relative;
        top: 200px;
        width: 800px;
    }
    .intro-text{
        width: 600px;
    }
    .advantages{
        position: relative;
        top: 2px;
    }
    .on-sale{
        position: relative;
        top: 100px;
    }
    .last-block{
        width: 900px;
    }
    .last-block .left-pic{
        position: relative;
        bottom: 727px;
        left: 10px;
    }
}